*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    overflow-x: hidden;
}

.logo{
    color: white;
    font-size: 30px;
    position: relative;
    left: -30%;
    font-family: "GFS Neohellenic", sans-serif;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.inner-wrapper{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 36%;
}

.inner-wrapper h2{
    margin: 10px;
    font-family: "GFS Neohellenic", sans-serif;
    font-size: 15px;
}

.inner-wrapper :nth-child(1){
    border: 2px solid rgb(116, 116, 116);
    border-radius: 25px;
    padding: 10px;
    background: linear-gradient(to top left,rgb(236, 236, 236),rgb(34, 35, 34));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-wrapper :nth-child(1):hover{
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 8px rgb(255, 255, 255);
    background: linear-gradient(to top left,white,rgb(116, 115, 115));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.inner-wrapper :nth-child(2){
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
    color: white;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-wrapper :nth-child(2):hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px white;
}

.title{
   font-size: 70px;
}

.image-position1{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.content-hidden1{
    overflow: hidden;
}

#woman{
    position: relative;
    top: 0px;
}

.slide-text{
    background-color: rgb(0, 0, 0);
    color: white;
    overflow: hidden;
}

#Slidetxt{
    font-size: 70px;
    position: relative;
    left: 100%;
}

.container-3{
    background-color: white;
    padding: 20px;
}

.Tier-t{
    color: black;
    text-align: center;
    font-size: 48px;
    font-family: "GFS Neohellenic", sans-serif;
    padding: 10px;
}

.bg-blur1-ps{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-blur1{
    margin-top: 30px;
    border-radius: 15px;
    background-color: rgb(184, 181, 181);
    width: 850px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px;
    box-shadow: 0px 0px 5px white;
}

.card{
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
}

.card1{
   background-color: black;
   width: 300px;
   height: 400px;
}

.card2{
    background-color: black;
    width: 300px;
    height: 400px;
 }

 .card3{
    background-color: black;
    width: 300px;
    height: 400px;
 }

 .position-inner-img{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .caption-t{
    margin-top: 20px;
    text-align: center;
    font-family: "GFS Neohellenic", sans-serif;
    color: white;
 }

 #nsc1{
    background-color: rgb(2, 21, 5);
    border-radius: 10px;
 }

 #nsc2{
    background-color: rgb(3, 4, 33);
    border-radius: 10px;
 }

 #nsc3{
    background-color: rgb(49, 45, 3);
    border-radius: 10px;
 }

 .wrap1{
    display: flex;
    margin-top: 0px;
 }

 .Tier-t2{
    color: white;
    text-align: center;
    font-size: 48px;
    font-family: "GFS Neohellenic", sans-serif;
    padding: 10px;
 }

 .inner-wrap1{
    background-color: black;
    width: 750px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .ps-wrap-inner{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .inner-wrap1 h2{
     font-size: 50px;
     font-family: "GFS Neohellenic", sans-serif;
 }

 .inner-wrap1 h4{
    font-size: 20px;
}

.Find-1{
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: "GFS Neohellenic", sans-serif;
}

.Find-1:hover{
    box-shadow: 0px 0px 5px white;
    cursor: pointer;
}

.ps-btn-inner-wrap{
    display:flex;
    justify-content: end;
    align-items: end;
}

.inner-wrap2{
    background-color: black;
    width: 780px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-wrap2 h2{
    font-size: 50px;
}

.inner-wrap2 h4{
    font-size: 20px;
}

.wrap2{
    display: flex;
}

.container-6{
    background-color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

@media screen and (max-width:2600px) {
    .inner-wrap1{
        width: 1300px;
    }
    #Artist1{
        width: 1300px;
    }
    .inner-wrap2{
        width: 1300px;
    }
    #Artist2{
        width: 1300px;
    }
}

@media screen and (max-width:1400px) {
    .inner-wrapper{
        position: relative;
        left: 31%;
    }
    #Slidetxt{
        font-size: 50px;
    }
}

@media screen and (max-width:1315px){
    .ps-wrap-inner h2{
        font-size: 45px;
    }
    .ps-wrap-inner h4{
        font-size: 18px;
    }
}

@media screen and (max-width:1178px){
    .logo{
        position: relative;
        left: -25%;
    }
    .title{
        font-size: 55px;
    }
    .ps-wrap-inner h4{
        font-size: 15px;
    }
}

@media screen and (max-width:1007px){
    .title{
        font-size: 50px;
    }
    .inner-wrapper{
        position: relative;
        left: 28%;
    }
    .inner-wrap1{
        width: 500px;
    }
    #Artist1{
        width: 500px;
        height: 300px;
    }
    .inner-wrap2{
        width: 500px;
    }
    #Artist2{
        width: 500px;
        height: 300px;
    }
}

@media screen and (max-width:991px) {
    .ps-wrap-inner h2{
        font-size: 35px;
    }
    .ps-wrap-inner h4{
        font-size: 13px;
    }
    .Find-1{
        width: 80px;
        height: 20px;
        font-size: 15px;
    }
}
@media screen and (max-width:961px){
    .inner-wrapper :nth-child(1){
        width: 80px;
    }
    .inner-wrapper :nth-child(2){
        width: 80px;
    }
    #woman{
        width: 300px;
        height: 300px;
    }
    #Slidetxt{
        font-size: 40px;
    }
    .bg-blur1{
        width: 500px;
    }
    .card1{
        width: 100px;
        height: 200px;
    }
    #nsc1{
        width: 80px;
        height: 80px;
    }
    .card2{
        width: 100px;
        height: 200px;
    }
    #nsc2{
        width: 80px;
        height: 80px;
    }
    .card3{
        width: 100px;
        height: 200px;
    }
    #nsc3{
        width: 80px;
        height: 80px;
    }
    .container-6{
        font-size: 40px;
    }
    .ps-wrap-inner h2{
        font-size: 30px;
    }
    .ps-wrap-inner h4{
        font-size: 12px;
    }
}
@media screen and (max-width:801px) {
    .logo{
        position: relative;
        left: -20%;
    }
    .inner-wrapper{
        position: relative;
        left: 25%;
    }
    .title{
        font-size: 35px;
    }
    .inner-wrap1{
        width: 400px;
    }
    #Artist1{
        width: 400px;
        height: 300px;
    }
    .inner-wrap2{
        width: 400px;
    }
    #Artist2{
        width: 400px;
        height: 300px;
    }
    #Slidetxt{
        font-size: 30px;
    }
}

@media screen and (max-width:701px){
    .logo{
        font-size: 20px;
    }
    .inner-wrapper :nth-child(1){
        width: 60px;
        height: 10px;
        font-size: 12px;
    }
    .inner-wrapper :nth-child(2){
        width: 60px;
        height: 10px;
        font-size: 12px;
    }
    .Tier-t2{
        font-size: 35px;
    }
    .inner-wrap1{
        width: 350px;
    }
    #Artist1{
        width: 340px;
    }
    .inner-wrap2{
        width: 300px;
    }
    #Artist2{
        width: 350px;
    }
    .ps-wrap-inner h2{
         font-size: 25px;
    }
    .ps-wrap-inner h4{
        font-size: 8px;
    }
    .Find-1{
        width: 60px;
        font-size: 12px;
    }
    .container-6{
        font-size: 30px;
    }
}

@media screen and (max-width:601px){
    .title{
        font-size: 25px;
    }
    #woman{
        width: 180px;
        height: 170px;
    }
    #Slidetxt{
        font-size: 25px;
    }
    .Tier-t{
        font-size: 35px;
    }
    .bg-blur1{
        width: 380px;
        height: 300px;
    }
    .inner-wrap1{
        width: 350px;
    }
    #Artist1{
        width: 310px;
    }
    .inner-wrap2{
        width: 300px;
    }
    #Artist2{
        width: 280px;
    }
}

@media screen and (max-width:581px){
     .logo{
        font-size: 18px;
        position: relative;
        left: -15%;
     }
     .inner-wrapper{
        position: relative;
        left: 15%;
     }
     .inner-wrapper :nth-child(1){
        font-size: 9px;
        width: 40px;
        height: 5px;
     }
     .inner-wrapper :nth-child(2){
        font-size: 9px;
        width: 40px;
        height: 5px;
     }
     .bg-blur1{
        height: 200px;
     }
     .wrap1{
        display: inline;
     }
     .wrap2{
        display: inline;
     }
     .inner-wrap1{
       width: 568px;
       padding: 10px;
     }
     #Artist1{
        width: 590px;
     }
     .inner-wrap2{
        width: 568px;
        padding: 10px;
     }
     #Artist2{
        width: 590px;
        height: 250px;
     }
     .ps-btn-inner-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .ps-btn-inner-wrap2{
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .Find-1{
        width: 100px;
     }
     .container-6{
        font-size: 20px;
     }
}